<!doctype html>
<html ng-app="photoMosaic">

<head>
  <title>Upload Photo</title>
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/photomosaic.css">
  <script src="/static/vendor/jquery/js/jquery-2.1.4.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.js"></script>
  <script src="/static/js/ng-file-upload-all.js"></script>
  <script src="/static/js/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="app-container">
    <<<.LayoutContent>>>
  </div>

</body>

</html>